:root{
    --bs-primary: rgb(26, 188, 156);
    --bs-primary-rgb: 26, 188, 156;
}

section{
    padding: 40px 0;
}

.hero-image{
    width: 300px;
}

.text-rule{
    text-align: center;
    text-transform: uppercase;
}

.line{
    width: 10%;
    height: 3px;
}

.star{
    font-size: 2rem;
}


.my-border-form{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.my-border-form:focus{
    box-shadow: none;
    border-color: transparent;
}

/* potrei fare una classe dedicata visto che text-center si ripete più volte e transform-uppercase */