:root{
    --bs-primary: rgb(26, 188, 156);
    --bs-primary-rgb: 26, 188, 156;
}

/* .box{
    width: 100%;
    min-height: 100px;
    background-color: red;
    border: 1px solid black;
} */

section{
    padding: 40px 0;
}

.hero-image{
    width: 300px;
}

.text-rule{
    text-align: center;
    text-transform: uppercase;
}

.line{
    width: 10%;
    height: 3px;
}

.star{
    font-size: 2rem;
}

/* potrei fare una classe dedicata visto che text-center si ripete più volte e transform-uppercase */